#contact_modal {
  display: none;
  z-index: 9999;
  position: fixed;
  top: 0%;
  width: 100%;
}

.when-modal-is-displayed {
  background-color: rgba(255, 255, 255, 0.8);
  /* Fond blanc semi-transparent */
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 500;
  width: 100%;
  height: 100%;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details_container h1 {
  font-weight: 400;
  font-size: 64px;
  /* line-height: 83px; */
  color: #d3573c;
  margin-block-start: 0;
  margin-block-end: 8px;
}

.details_container .place {
  font-weight: 400;
  font-size: 24px;
  color: #901c1c;
  margin-block-start: 0;
  margin-block-end: 8px;
}

.details_container .tagline {
  font-weight: 400;
  font-size: 18px;
  color: #525252;
  margin-block-start: 0;
  margin-block-end: 8px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.open_contact_form:hover,
.open_contact_form:focus {
  background-color: #db8876;
  color: #000000;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  overflow-y: auto;
  max-height: 90vh;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  padding-bottom: 36px;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  /* text-align: center; */
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

#message {
  overflow-y: auto;
  resize: none;
  white-space: pre-wrap;
  padding: 20px 8px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input,
form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  color: #312e2e;
  font-size: 24px;
  padding-left: 8px;
  font-family: "DM Sans", sans-serif;
}

.filter {
  display: flex;
  column-gap: 36px;
  margin: 16px 100px 48px 100px;
  align-items: center;
}

.filter label {
  font-weight: 700;
  font-size: 18px;
}

.filter select {
  background: #911c1c;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  width: 170px;
  height: 69px;
  padding: 0 20px;
}

.media-section {
  margin: 0 100px 72px 100px;
  /* padding: 0 40px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.media-item {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}
.media-item img,
.media-item video {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 280px;
  border-radius: 5%;
  cursor: pointer;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 1em;
  color: rgb(127, 13, 13);
  font-weight: 700;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}

.close-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#lightbox-modal {
  display: none;
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  overflow: auto; /*barres de défilement horizontalement et verticalement si tout le contenu ne peut pas s'afficher vs. taille*/
}

#lightbox-modal button {
  color: #901c1c;
  background-color: transparent;
  font-size: 64px;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}

#lightbox-modal button:hover {
  opacity: 1;
}

.close-lightbox {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 15;
}

.lightbox-btn-prev,
.lightbox-btn-next {
  /* position: fixed;
  top: 0; */
  height: 100%;
  z-index: 10;
}

.lightbox-btn-next {
  right: 0;
}

.lightbox-container {
  /* margin: 0 80px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.lightbox-container img,
.lightbox-container video {
  max-width: 100%;
  height: 90vh;
  object-fit: contain;
}

.lightbox-container p {
  color: #901c1c;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 8px;
}

.media-caption {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #901c1c;
  font-size: 24px;
  margin-top: 8px;
  /* margin-bottom: 16px; */
}

.media-title {
  font-size: 24px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
}

.like-content {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.like-content span {
  font-weight: 500;
}

.like-content span.liked {
  font-weight: 500;
  color: #d3573c;
}

.heart-icon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  fill: none;
}

.heart-not-liked {
  fill: #911c1c;
  transition: fill 0.2s;
}

.heart-liked {
  fill: #d3573c;
  opacity: 0;
  transition: opacity 0.2s;
}

.like-content.liked .heart-liked {
  opacity: 1;
}

/*********** Fixed box: price and popularity **********/

.fixed-box {
  position: fixed;
  bottom: 0px;
  right: 36px;
  background: #db8876;
  border-radius: 5px;
  padding: 16px;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;

  color: #000000;

  display: flex;
  gap: 48px;
  z-index: 20;
}
